* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.container {
  max-width: 1601px;
  margin: 0 auto;
}
.mobile-menu {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 105px;
  position: fixed; /* задаём для того, чтобы шапка прилипла и прокручивалась вместе со страницей */
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s; /* делаем плавную смену цвета и высоты */
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 74px;
}
.navbar-light .header-logo-path {
  /* когда navbar-light, найди header-logo-path и сделай ему заливку */
  fill: #292d33;
}
.logo {
  display: none;
}
.logo-svg {
  width: 157px;
  height: 67px;
}
/* делаем чтобы блок header был во весь экран через "vh" */
.header {
  padding: 94px 0 0 0;
}
/* ставим фоновое изображение */
.header-image {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -55px;
  position: relative; /* задаём родителю */
}
/* задаём темную плашку для фона, через псевдоэлемент */
.header-image::before {
  content: "";
  position: absolute; /* задаём дочернему элементу, для того, чтобы плашка стала на весь экран */
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* задаёт самый нижний слой */
}
.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}
.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child) {
  margin-right: 4%;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0 55px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 1.125rem;
  color: inherit;
  position: relative;
}
.header-nav-link:after {
  content: "";
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #5c8ee6;
  transition: width 0.2s;
  right: 0;
  left: auto;
}
.header-nav-link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 13px;
  margin-right: 55px;
}
.header-phone .phone-icon {
  color: rgb(92, 142, 230);
}
.header-phone-link {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.button {
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  background: rgba(58, 113, 209, 1);
  padding: 20px 40px 20px 57px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  display: inline-block;
}
.button-container {
  padding: 33px 67px;
  word-spacing: -1px;
}
.button-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.navbar-button {
  height: 100%;
  flex-shrink: 0;
}
.navbar-button .button-icon {
  display: none;
}
.header-content {
  position: relative;
  z-index: 1;
  margin-top: 177px;
  color: #fff;
  margin-bottom: 110px;
}
.seporator {
  width: 166px;
  height: 2px;
  background: var(--main, rgba(92, 142, 230, 1));
}
.header-title {
  max-width: 1200px;
  font-family: "Bebas Neue";
  font-size: 84px;
  line-height: 128%;
  margin: 25px 0 42px 0;
  letter-spacing: 3px;
  word-spacing: -3px;
}
.header-text {
  max-width: 800px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 56px;
  word-spacing: 1px;
}
.header-features {
  display: flex;
  min-height: 140px;
  padding: 0;
  color: #fff;
  position: relative;
  list-style: none;
}
.header-features-item {
  padding: 35px 55px 11px 55px;
  height: auto;
  border: 0.0625rem solid rgba(235, 235, 240, 0.2);
  width: 350px;
}
.header-features-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 22px;
}
.slider-buttons {
  display: none;
  height: 2.75rem;
}
.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 0.0625rem solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.swiperSteps {
  height: auto; /* растягивается по контенту */
  display: flex;
  flex-direction: column;
}
.sliderSteps-buttons {
  display: none;
  justify-content: flex-end;
  height: 2.5rem;
}
.sliderSteps-button-prev,
.sliderSteps-button-next {
  height: 100%;
  background: var(--main, rgba(92, 142, 230, 1));
  width: 3.75rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-features-img {
  width: 36px;
  height: 36px;
}
.section {
  margin: 150px 0;
}
.section-light {
  margin: 168px 0;
}
.section-title {
  font-family: "Bebas Neue";
  font-size: 66px;
  font-weight: 600;
  line-height: 72px;
  text-transform: uppercase;
  margin-bottom: 68px;
  margin-top: 30px;
  letter-spacing: 1px;
  word-spacing: -5px;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 50px;
}
.steps-item {
  max-width: 350px;
}
.steps-num {
  font-family: "Bebas Neue";
  font-size: 52px;
  font-weight: 600;
  line-height: 55px;
  color: rgba(92, 142, 230, 1);
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}
.steps-num::after {
  content: "";
  height: 1px;
  background: rgba(235, 235, 240, 1);
  width: 100%;
  margin-left: 30px;
}
.steps-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 43px;
  margin-bottom: 14px;
  letter-spacing: 1px;
  line-height: 48px;
}
.steps-text {
  color: rgba(130, 138, 153, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 27px;
  line-height: 28px;
}
.steps-link {
  display: flex;
  align-items: center;
  color: rgba(92, 142, 230, 1);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
}
.steps-link:before {
  content: "";
  background: rgba(92, 142, 230, 1);
  height: 1px;
  width: 46px;
  margin-right: 1.375rem;
  transition: width 0.2s;
}
.steps-link:hover:before {
  width: 60px;
}
/* Секция с продукцией */
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  text-decoration: none;
  flex-basis: 33%;
  border: 0.0625rem solid #ebebf0;
  position: relative;
  transition: border 0.2s;
}
.card:hover .card-title {
  color: #5c8ee6;
}
.card:hover {
  border-color: #5c8ee6;
}
.card-content {
  padding: 2.5rem 3.125rem;
}
.card-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 10px;
  transition: color 0.2s;
}
.card-text {
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 24.625rem;
}
.card-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  z-index: 0;
}

/* Адаптив */
/* стили для экранов от 75rem до 120rem */
@media (max-width: 1920px) {
  html {
    font-size: 14px;
  }
  .header-image {
    background-position: center;
  }
  .logo-svg {
    width: 96px;
  }
}
@media (max-width: 1728px) {
  .container {
    max-width: 1440px;
  }
  html {
    font-size: 13px;
  }
  .header-logo {
    padding: 32px;
  }
  .header-nav {
    margin-left: 32px;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 16px;
  }
  .header-phone {
    margin-right: 32px;
  }
  .logo-svg {
    width: 96px;
  }
}
@media (max-width: 1608px) {
  .container {
    max-width: 1120px;
  }
  .header-content {
    margin-top: 110px;
  }
  .header-phone {
    display: none;
  }
  .header-image {
    background-position: center;
  }
  .navbar {
    height: 80px;
  }
  .navbar-button {
    margin-left: 32px;
  }
  .sliderSteps-buttons {
    display: flex;
  }
}
@media (max-width: 1408px) {
  .container {
    max-width: 900px;
  }
  .header-content {
    margin-top: 2.5rem;
  }
  html {
    font-size: 10x;
  }
  .swiper {
    overflow: hidden;
  }
  .slider-buttons {
    display: flex;
  }
  .logo-svg {
    width: 192px;
  }
  html {
    font-size: 0.625rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .mobile-menu-toggle {
    width: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 28.8px;
    border-right: 0.0625rem solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    height: 0.0625rem;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .header-logo {
    border-right: 0rem;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #fff;
  }
  /* Стили к адаптиву мобильному меню, которое появляется при нажатии на кнопку */
  .mobile-menu {
    display: none; /* по умолчанию скрыто */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 80px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .mobile-menu.is-open {
    display: block; /* показываем только при открытии */
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-item {
    margin-bottom: 32px;
    list-style: none;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-sub-menu {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    padding-left: 16px;
    margin-top: 16px;
  }
  .mobile-sub-menu-item {
    list-style-type: none;
  }
  .mobile-submenu-link {
    text-decoration: none;
    color: #828a99;
    font-size: 0.875rem;
    line-height: 160%;
  }
  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 160%;
    color: #292d33;
    text-decoration-line: underline;
    border-top: 0.0625rem solid #ebebf0;
    padding-top: 32px;
    margin-bottom: 24px;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .mobile-info-address,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-icons {
    margin-top: 1.5rem;
  }
  .mobile-icons-vk {
    margin-right: 0.9375rem;
    text-decoration: none;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(0.75rem);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-0.75rem);
  }
  .card {
    flex-basis: 50%;
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 700px;
  }
  .header-title {
    font-size: 64px;
  }
}
@media (max-width: 796px) {
  .container {
    max-width: 90%;
  }
  .header-title {
    font-size: 64px;
  }
  .card {
    flex-basis: 100%;
  }
}
