* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.container {
  max-width: 1424px;
  margin: 0 auto;
}
.mobile-menu {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.9375rem;
  position: fixed; /* задаём для того, чтобы шапка прилипла и прокручивалась вместе со страницей */
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s; /* делаем плавную смену цвета и высоты */
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
}
.navbar-light .logo-light {
  display: none;
}
.navbar-light .logo-dark {
  display: block;
}
.logo-dark {
  display: none;
}
.navbar-scroll {
  height: 4.5rem;
}
.navbar-light .header-logo-path {
  /* когда navbar-light, найди header-logo-path и сделай ему заливку */
  fill: #292d33;
}
.logo-svg {
  width: 138px;
  height: 65px;
}
/* делаем чтобы блок header был во весь экран через "vh" */
.header {
  padding-top: 60px;
}
/* ставим фоновое изображение */
.header-image {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -34px;
  position: relative; /* задаём родителю */
}
/* задаём темную плашку для фона, через псевдоэлемент */
.header-image::before {
  content: "";
  position: absolute; /* задаём дочернему элементу, для того, чтобы плашка стала на весь экран */
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* задаёт самый нижний слой */
}
.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  padding-left: 54px;
  margin: 0;
}
.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child) {
  margin-right: 4%;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 8px;
  color: inherit;
  position: relative;
}
.header-nav-link:not(:last-child) {
  margin-right: 0;
}
.header-nav-link:after {
  content: "";
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #5c8ee6;
  transition: width 0.2s;
  right: 0;
  left: auto;
}
.header-nav-link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 13px;
  margin-right: 50px;
}
.header-phone .phone-icon {
  color: rgb(92, 142, 230);
}
.header-phone-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.button {
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #fff;
  background: rgba(58, 113, 209, 1);
  padding: 20px 40px 20px 50px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
}
.button-container {
  padding: 28px 61px;
  letter-spacing: 0.8px;
}
.button-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.navbar-button {
  height: 100%;
  flex-shrink: 0;
}
.navbar-button .button-icon {
  display: none;
}
.header-content {
  position: relative;
  z-index: 1;
  margin-top: 183px;
  color: #fff;
}
.seporator {
  width: 166px;
  height: 2px;
  background: var(--main, rgba(92, 142, 230, 1));
}
.header-title {
  max-width: 1200px;
  font-family: "Bebas Neue";
  font-size: 78px;
  line-height: 124%;
  margin: 22px 0 37px 0;
  letter-spacing: 1.3px;
}
.header-text {
  max-width: 700px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.627rem;
  margin-bottom: 50px;
  word-spacing: 1.1px;
}
.header-features {
  display: flex;
  min-height: 140px;
  padding: 0;
  color: #fff;
  position: relative;
  list-style: none;
  margin-bottom: 0;
}
.swiper {
  margin-top: 83px;
}
.swiper-slide {
  width: 288px;
}
.header-features-item {
  padding: 30px 60px 13px 50px;
  height: auto;
  border: 0.0625rem solid rgba(235, 235, 240, 0.2);
}
.header-features-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 17px;
}
.slider-buttons {
  display: none;
  height: 2.75rem;
}
.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 0.0625rem solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.swiperSteps {
  height: auto; /* растягивается по контенту */
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
.primary-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 60px;
}
.primary-button-prev,
.primary-button-next {
  height: 100%;
  background: var(--main, rgba(92, 142, 230, 1));
  width: 80px;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sliderSteps-buttons {
  display: none;
}
.header-features-img {
  width: 36px;
  height: 36px;
}
.section {
  margin: 150px 0;
}
.section-light {
  margin: 150px 0;
}
.section-title {
  font-family: "Bebas Neue";
  font-size: 55px;
  font-weight: 600;
  line-height: 72px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 25px;
  letter-spacing: 2px;
  margin-bottom: 35px;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 62px;
}
.steps-item {
  width: 298px;
}
.steps-num {
  font-family: "Bebas Neue";
  font-size: 48px;
  font-weight: 600;
  line-height: 55px;
  color: rgba(92, 142, 230, 1);
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}
.steps-num::after {
  content: "";
  height: 1px;
  background: rgba(235, 235, 240, 1);
  width: 100%;
  margin-left: 30px;
}
.steps-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 38px;
  line-height: 160%;
}
.steps-text {
  color: rgba(130, 138, 153, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  margin-top: -16px;
  margin-bottom: 25px;
  word-spacing: 1px;
}
.button-link {
  display: flex;
  align-items: center;
  color: rgba(92, 142, 230, 1);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.button-link:before {
  content: "";
  background: rgba(92, 142, 230, 1);
  height: 1px;
  width: 46px;
  margin-right: 15px;
  transition: width 0.2s;
}
.button-link:hover:before {
  width: 60px;
}
/* Секция с продукцией */
.production {
  margin-top: -42px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  text-decoration: none;
  flex-basis: 33%;
  border: 0.0625rem solid #ebebf0;
  position: relative;
  transition: border 0.2s;
  margin-top: 0;
}
.card:hover .card-title {
  color: #5c8ee6;
}
.card:hover {
  border-color: #5c8ee6;
}
.card-content {
  padding: 40px 60px 40px 47px;
}
.card-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 6px;
  transition: color 0.2s;
}
.card-text {
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 320px;
  margin-top: 11px;
}
.card-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  z-index: 0;
}
.production-title {
  margin-bottom: 52px;
}
/* Секция trademark */
.trademark-cards {
  display: flex;
}
.trademark-card {
  flex-basis: 50%;
  text-decoration: none;
  border: 1px solid #ebebf0;
  transition: border 0.2s;
  cursor: pointer;
  padding: 50px;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: auto 2fr;
  grid-column-gap: 50px;
  grid-template-areas:
    "logo title title"
    "logo text text";
}
.trademark-card-logo {
  width: 100%;
  fill: #828a99;
  grid-area: logo;
}
.trademark-card-title {
  font-weight: 400;
  margin: 0;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  grid-area: title;
}
.trademark-card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  grid-area: text;
  margin-top: 10px;
}
.trademark-card:hover {
  border-color: #5c8ee6;
}
.trademark-card:hover .trademark-card-logo {
  fill: #5c8ee6;
}
.trademark-card:hover .trademark-card-title {
  color: #5c8ee6;
}
/* Секция founder */
.founder {
  min-height: 660px;
  position: relative;
}
.founder-photo {
  position: absolute;
  left: 0;
  width: 40%;
  top: 0;
  height: 100%;
  object-fit: cover;
}
.founder-content {
  max-width: 45rem;
}
.founder-content-wrapper {
  display: flex;
  justify-content: flex-end;
}
.founder-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
}
/* Секция clients */
.clients-wrapper {
  display: flex;
  gap: 50px;
}
.clients-content {
  flex-basis: 50%;
}
.clients-list {
  list-style: none;
  padding: 0;
  columns: 2 auto;
}
.clients-list-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 16px;
  line-height: 160%;
  color: #292d33;
}
.clients-logo-list {
  flex-shrink: 10;
  display: flex;
  flex-wrap: wrap;
}
.clients-logo-item {
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  filter: grayscale(100%);
  transition: filter 0.2s;
}
.clients-logo-item:hover {
  filter: grayscale(0);
}
.clients-logo {
  max-width: 100%;
  width: 70px;
  height: 70px;
}
/* Секция blog */
.blog-card {
  display: flex;
  position: relative;
  min-height: 400px;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  justify-content: flex-end;
  padding: 50px;
}
.blog-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(41, 45, 52, 0.6);
  z-index: -1;
}
.blog-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.blog-card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  margin-bottom: 10px;
  margin-top: 0;
}
.blog-card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin: 0;
}
.blog-slider-footer {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: space-between;
}
/* Секция cta */
.bg-grey {
  background: #f0f2f5;
}
.section-cta {
  position: relative;
  padding-top: 100px;
  margin-top: 150px;
  padding-bottom: 100px;
}
.cta-image {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 45rem;
  width: 50%;
}
.cta-form-wrapper {
  display: flex;
  justify-content: flex-end;
}
.cta-form {
  max-width: 840px;
}
.cta-form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
  margin-top: 22px;
  margin-bottom: 40px;
  max-width: 640px;
}
.input-group-wrapper {
  display: flex;
  gap: 30px;
}
.input-group {
  position: relative;
  height: 66px;
  flex-grow: 1;
  background-color: #f0f2f5;
}
.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 30px;
  border: 1px solid #e4e4eb;
  background-color: inherit;
}
.input-group-label {
  position: absolute;
  cursor: text;
  top: 1.5rem;
  left: 30px;
  font-weight: 400;
  font-size: 16px;
  color: #828a99;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.input.is-invalid {
  border: 1px solid red;
}
.just-validate-error-label {
  position: absolute;
  top: -1rem;
  display: block;
}
.input:focus {
  border: 1px solid #5c8ee6;
  outline: 0;
}
.input:focus ~ .input-group-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
  top: -0.5rem;
  left: 1.25rem;
  font-size: 10px;
  background-color: inherit;
  padding: 0 10px;
}
.cta-form-footer {
  display: flex;
  margin-top: 20px;
  gap: 30px;
  align-items: center;
}
.cta-form-button {
  flex-shrink: 0;
}
.notify {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.notify-icon {
  flex-shrink: 0;
}
.notify-text {
  max-width: 380px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #828a99;
  margin: 0;
}
/* Footer */
.footer-top {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo {
  width: 12.5rem;
  height: 3.75rem;
}
.footer-info {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: #292d33;
  gap: 10px;
}
.footer-info-address,
.footer-info-email {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
}
.footer-phone {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 160%;
  text-decoration: underline;
  color: #292d33;
}
.footer-social-link {
  text-decoration: none;
  margin-right: 10px;
}
.footer-seporator {
  color: #ebebf0;
  background-color: #ebebf0;
}
.footer-bottom {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-menu-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}
.footer-menu-list {
  margin: 0;
  padding-left: 20px;
  list-style: none;
}
.footer-menu-column-2 {
  columns: 20rem auto;
  min-width: 50rem;
}
.footer-menu-link {
  text-decoration: none;
  color: #828a99;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 15px;
  display: block;
}
.footer-menu-link-bold {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #292d33;
  margin-bottom: 30px;
}
.footer-menu-wrapper:last-child {
  margin-left: 5rem;
}
.footer-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: normal;
  color: #828a99;
}
.footer-wrapper,
.footer-legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.footer-copyright,
.footer-policy {
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  font-size: 0.75rem;
  color: inherit;
}
/* Страница about */
.about-company {
  background-color: var(--bg2, rgba(240, 242, 245, 1));
  padding: 60px 0;
  margin-top: 90px;
}
.breadcrumbs ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 14px;
  color: #888;
}
.breadcrumbs li {
  display: flex;
  align-items: center;
}
.breadcrumbs li + li::before {
  content: "—"; /* разделитель */
  margin: 0 8px;
  color: #bbb;
}
.breadcrumbs a {
  text-decoration: none;
  color: #888;
  transition: color 0.3s;
}
.breadcrumbs a:hover {
  color: #000;
}
.breadcrumbs-blog a {
  color: #fff;
}
.breadcrumbs .current {
  font-weight: 600;
  color: #444;
}
.breadcrumbs .current-blog {
  color: #fff;
}
.about-company-car {
  position: relative;
  margin-bottom: 0;
}
.about-image {
  position: absolute;
  right: 200px;
  bottom: 0;
}
.header-features-text-black {
  color: var(--txt, rgba(41, 45, 51, 1));
}
/* Модальное окно (прозрачное) */
.modal {
  opacity: 0;
  visibility: hidden; /* По умолчанию скрыто модальное окно */
  transform: translateX(-100%); /* по оси Х скрыто на 100% */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 45, 51, 0.5);
  z-index: 10;
  display: flex;
}
/* Модальное окно (не прозрачное) */
.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.modal.is-open .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}
.modal-dialog {
  background-color: #fff;
  margin: auto;
  max-width: 460px;
  padding: 40px 50px;
  position: relative;
  transform: translateY(-10%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
.modal-close {
  display: block;
  position: absolute;
  top: 40px;
  right: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ebebf0;
}
.modal-title {
  font-family: "Bebas Neue";
  font-size: none;
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 20px;
}
.modal-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 30px;
}
.input-group-vertical {
  display: flex;
  flex-direction: column;
}
.modal-input-group {
  background-color: #fff;
}
.modal-form-footer {
  margin-top: 30px;
}
.modal-form-button {
  display: block;
  width: 100%;
  margin-bottom: 24px;
}
/* Блог */
.blog-image {
  background: url(../img/blog-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -400px;
  position: relative;
}
.blog-image::before {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.blog-content {
  position: relative;
  z-index: 1;
  color: #fff;
}
/* Адаптив */
@media (max-width: 1700px) {
  html {
    font-size: 13px;
  }
  .header-image {
    background-position: center;
  }
  .logo-svg {
    max-width: 7rem;
  }
  .header-nav {
    padding-left: 24px;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1%;
  }
}
@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
  .container {
    max-width: 80rem;
  }
  .header-logo {
    padding: 2rem;
  }
  .logo-svg {
    max-width: 6rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .header-nav-link {
    font-size: 12px;
  }
  .header-phone {
    margin-right: 2rem;
  }
  .header-phone-link {
    font-size: 12px;
  }
  .navbar-button {
    padding: 15px 38px;
  }
  .card {
    flex-basis: 50%;
  }
  .cta-image {
    max-width: 35rem;
  }
  .section-cta {
    padding-top: 10px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 5rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .navbar-button {
    padding: 15px 18px;
  }
  .primary-buttons-wrapper {
    height: 40px;
  }
  .primary-button-prev,
  .primary-button-next {
    width: 60px;
  }
  .slider-buttons {
    display: flex;
  }
  .sliderSteps-buttons {
    display: flex;
  }
  .card {
    flex-basis: 50%;
  }
  .card-content {
    padding: 40px 30px 40px 40px;
  }
  .steps {
    gap: 0;
  }
  .trademark-card {
    grid-template-columns: auto auto;
  }
  .founder-content {
    max-width: 40rem;
  }
  .clients-content {
    flex-basis: 60%;
  }
  .cta-form {
    max-width: 540px;
  }
  .cta-image {
    max-width: 30rem;
  }
  .footer-menu-column-2 {
    columns: 20rem auto;
    min-width: 5rem;
  }
  .footer-phone {
    font-size: 1.5rem;
  }
  .about-image {
    display: none;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 55rem;
  }
  .header-title {
    font-size: 50px;
  }
  .header-text {
    font-size: 14px;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
    border: none;
  }
  .logo-svg {
    max-width: 7rem;
  }
  .button-container {
    padding: 23px 55px;
  }
  .header-features-text {
    font-size: 14px;
  }
  .section-title {
    font-size: 45px;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.8rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #ffff;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-item {
    margin-bottom: 2rem;
  }
  .mobile-sub-menu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-submenu-link {
    text-decoration: none;
    color: #828a99;
    font-size: 14px;
    line-height: 160%;
  }
  .header-phone-link {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #292d33;
    text-decoration-line: underline;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
  .mobile-info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .mobile-info-address,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
    margin-bottom: 2rem;
  }
  .mobile-icons {
    display: flex;
    gap: 1.5rem;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translate(9px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translate(9px);
  }
  .marks-cards {
    display: flex;
    flex-direction: column;
  }
  .steps {
    gap: 20px;
  }
  .steps-title {
    font-size: 22px;
  }
  .steps-text {
    font-size: 14px;
  }
  .swiper-slide {
    width: 250px;
  }
  .trademark-cards {
    flex-direction: column;
  }
  .founder-content {
    max-width: 30rem;
  }
  .clients-wrapper {
    flex-direction: column;
  }
  .blog-card-title {
    font-size: 1.5rem;
  }
  .cta-image {
    display: none;
  }
  .cta-form {
    max-width: 100%;
  }
  .input-group-wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 40rem;
  }
  .header-title {
    font-size: 4rem;
  }
  .header-content {
    padding-top: 4rem;
  }
  .card {
    flex-basis: 100%;
  }
  .card-content {
    padding: 30px 20px 30px 20px;
  }
  .founder-photo {
    position: relative;
    width: 100%;
    margin-bottom: 3.125rem;
  }
  .cta-form-footer {
    display: flex;
    flex-direction: column;
  }
  .cta-form-button {
    width: 100%;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-menu-wrapper:last-child {
    margin-left: 0;
  }
  .footer-menu-wrapper {
    margin-bottom: 20px;
  }
  .footer-menu-link-bold {
    margin-bottom: 15px;
  }
  .footer-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .footer-legal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .header-content {
    margin-top: 50px;
  }
  .card-text {
    margin-bottom: 260px;
  }
  .section-title {
    font-size: 40px;
  }
  .trademark-card {
    padding: 20px;
    grid-column-gap: 10px;
    grid-template-areas:
      "logo title"
      "text text";
  }
  .trademark-card-title {
    margin-top: 40px;
    font-size: 1.5rem;
  }
  .clients-list {
    columns: 1;
  }
  .clients-logo-item {
    flex-basis: 50%;
  }
}
