* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.container {
  max-width: 1424px;
  margin: 0 auto;
}
.mobile-menu {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.9375rem;
  position: fixed; /* задаём для того, чтобы шапка прилипла и прокручивалась вместе со страницей */
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s; /* делаем плавную смену цвета и высоты */
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 74px;
}
.navbar-light .header-logo-path {
  /* когда navbar-light, найди header-logo-path и сделай ему заливку */
  fill: #292d33;
}
.logo {
  display: none;
}
.logo-svg {
  width: 138px;
  height: 65px;
}
/* делаем чтобы блок header был во весь экран через "vh" */
.header {
  padding-top: 60px;
}
/* ставим фоновое изображение */
.header-image {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -34px;
  position: relative; /* задаём родителю */
}
/* задаём темную плашку для фона, через псевдоэлемент */
.header-image::before {
  content: "";
  position: absolute; /* задаём дочернему элементу, для того, чтобы плашка стала на весь экран */
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* задаёт самый нижний слой */
}
.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  padding-left: 54px;
  margin: 0;
}
.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child) {
  margin-right: 4%;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 8px;
  color: inherit;
  position: relative;
}
.header-nav-link:not(:last-child) {
  margin-right: 0;
}
.header-nav-link:after {
  content: "";
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #5c8ee6;
  transition: width 0.2s;
  right: 0;
  left: auto;
}
.header-nav-link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 13px;
  margin-right: 50px;
}
.header-phone .phone-icon {
  color: rgb(92, 142, 230);
}
.header-phone-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.button {
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #fff;
  background: rgba(58, 113, 209, 1);
  padding: 20px 40px 20px 50px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
}
.button-container {
  padding: 28px 61px;
  letter-spacing: 0.8px;
}
.button-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.navbar-button {
  height: 100%;
  flex-shrink: 0;
}
.navbar-button .button-icon {
  display: none;
}
.header-content {
  position: relative;
  z-index: 1;
  margin-top: 183px;
  color: #fff;
}
.seporator {
  width: 166px;
  height: 2px;
  background: var(--main, rgba(92, 142, 230, 1));
}
.header-title {
  max-width: 1200px;
  font-family: "Bebas Neue";
  font-size: 78px;
  line-height: 124%;
  margin: 22px 0 37px 0;
  letter-spacing: 1.3px;
}
.header-text {
  max-width: 700px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.627rem;
  margin-bottom: 50px;
  word-spacing: 1.1px;
}
.header-features {
  display: flex;
  min-height: 140px;
  padding: 0;
  color: #fff;
  position: relative;
  list-style: none;
  margin-bottom: 0;
}
.swiper {
  margin-top: 83px;
}
.swiper-slide {
  width: 288px;
}
.header-features-item {
  padding: 30px 60px 13px 50px;
  height: auto;
  border: 0.0625rem solid rgba(235, 235, 240, 0.2);
}
.header-features-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 17px;
}
.slider-buttons {
  display: none;
  height: 2.75rem;
}
.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 0.0625rem solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.swiperSteps {
  height: auto; /* растягивается по контенту */
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
.sliderSteps-buttons {
  display: none;
  justify-content: flex-end;
  height: 2.5rem;
}
.sliderSteps-button-prev,
.sliderSteps-button-next {
  height: 100%;
  background: var(--main, rgba(92, 142, 230, 1));
  width: 3.75rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-features-img {
  width: 36px;
  height: 36px;
}
.section {
  margin: 150px 0;
}
.section-light {
  margin: 150px 0;
}
.section-title {
  font-family: "Bebas Neue";
  font-size: 55px;
  font-weight: 600;
  line-height: 72px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 25px;
  letter-spacing: 2px;
  margin-bottom: 35px;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 62px;
}
.steps-item {
  width: 298px;
}
.steps-num {
  font-family: "Bebas Neue";
  font-size: 48px;
  font-weight: 600;
  line-height: 55px;
  color: rgba(92, 142, 230, 1);
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}
.steps-num::after {
  content: "";
  height: 1px;
  background: rgba(235, 235, 240, 1);
  width: 100%;
  margin-left: 30px;
}
.steps-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 38px;
  line-height: 160%;
}
.steps-text {
  color: rgba(130, 138, 153, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  margin-top: -16px;
  margin-bottom: 25px;
  word-spacing: 1px;
}
.steps-link {
  display: flex;
  align-items: center;
  color: rgba(92, 142, 230, 1);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.steps-link:before {
  content: "";
  background: rgba(92, 142, 230, 1);
  height: 1px;
  width: 46px;
  margin-right: 15px;
  transition: width 0.2s;
}
.steps-link:hover:before {
  width: 60px;
}
/* Секция с продукцией */
.production {
  margin-top: -42px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  text-decoration: none;
  flex-basis: 33%;
  border: 0.0625rem solid #ebebf0;
  position: relative;
  transition: border 0.2s;
  margin-top: 0;
}
.card:hover .card-title {
  color: #5c8ee6;
}
.card:hover {
  border-color: #5c8ee6;
}
.card-content {
  padding: 40px 60px 40px 47px;
}
.card-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 6px;
  transition: color 0.2s;
}
.card-text {
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 320px;
  margin-top: 11px;
}
.card-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  z-index: 0;
}
.production-title {
  margin-bottom: 52px;
}
/* Секция с марками */
.marks-cards {
  display: flex;
}
.card-content-mark {
  display: flex;
  align-items: center;
}
.card-mark {
  flex-basis: 50%;
}
.mark-text {
  margin-bottom: 0;
}
.marks-image {
  width: 150px;
  height: 130px;
  margin-right: 20px;
}
/* Адаптив */
@media (max-width: 1700px) {
  html {
    font-size: 13px;
  }
  .header-image {
    background-position: center;
  }
  .logo-svg {
    max-width: 7rem;
  }
  .header-nav {
    padding-left: 24px;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1%;
  }
}
@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
  .container {
    max-width: 80rem;
  }
  .header-logo {
    padding: 2rem;
  }
  .logo-svg {
    max-width: 6rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .header-nav-link {
    font-size: 12px;
  }
  .header-phone {
    margin-right: 2rem;
  }
  .header-phone-link {
    font-size: 12px;
  }
  .navbar-button {
    padding: 15px 38px;
  }
  .card {
    flex-basis: 50%;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 5rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .navbar-button {
    padding: 15px 18px;
  }
  .slider-buttons {
    display: flex;
  }
  .sliderSteps-buttons {
    display: flex;
  }
  .card {
    flex-basis: 50%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 60rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
    border: none;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.8rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #ffff;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-item {
    margin-bottom: 2rem;
  }
  .mobile-sub-menu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-submenu-link {
    text-decoration: none;
    color: #828a99;
    font-size: 14px;
    line-height: 160%;
  }
  .header-phone-link {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #292d33;
    text-decoration-line: underline;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .mobile-info-address,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
    margin-bottom: 2rem;
  }
  .mobile-icons {
    display: flex;
    gap: 1.5rem;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translate(9px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translate(9px);
  }
}
@media (max-width: 768) {
  .container {
    max-width: 40rem;
  }
  .header-title {
    font-size: 4rem;
  }
  .header-content {
    padding-top: 3rem;
  }
  .card {
    flex-basis: 100%;
  }
}
@media (max-width: 576) {
  .container {
    max-width: 90%;
  }
  .header-title {
    font-size: 2rem;
  }
  .header-content {
    padding-top: 2rem;
  }
}
